{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}All {{ project.sub_projects_metaname }}s in {{ project.name }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav>
        <a href="{% locale_url projects_gallery %}">{{ _('Projects') }}</a>
        <span class="arrow">&rsaquo;</span>
        <a href="{% locale_url projects_show slug=project.slug %}">{{ project.name }}</a>
        <span class="arrow">&rsaquo;</span>
        All {{ project.sub_projects_metaname }}s
    </nav>
</div> <!-- /.container -->
{% endblock %}

{% block bodyid %}all_subs{% endblock %}

{% block body %}
<div id="sidebar">
    <section id="project" class="panel">
        <hgroup>
        <h1 id="project-name"><a href="{% locale_url challenges_show slug=project.slug %}">{{ project.name }}</a></h1>
        {% if project.parent_project_id %}
            <h2>A {{ parent.sub_projects_metaname|lower }} of <a href="{% locale_url projects_show slug=parent.slug %}">{{ parent.name }}</a></h2> 
        {% endif %}
        </hgroup>
        {% if user.is_authenticated and user.get_profile != project.created_by %}
            <div id="project-follow">
            {% if following %}
                <form method="post" action="{% locale_url relationships_unfollow object_type='project' slug=project.slug %}">
                {% csrf_token %}
                <button>{{ _('Unfollow') }}</button>
                </form>
            {% else %}
                <form method="post" action="{% locale_url relationships_follow object_type='project' slug=project.slug %}">
                {% csrf_token %}
                <button>{{ _('Follow Project') }}</button>
                </form>
            {% endif %}
            </div> <!-- /#project-follow -->
        {% endif %}

        <div id="project-summary">
            {{ project.long_description }}
        </div>

        {% if files %}
            <ul class="project files">
            {% for file in files %}
                <li id="file_{{ file.id}}">
                    <a href="{{ MEDIA_URL }}{{ file.project_file }}">
                    <img alt="" src="{{ MEDIA_URL }}{{ file.thumbnail_or_default }}" class="project media" />
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if project.detailed_description %}
            <a id="project-description-link" href="{% locale_url projects_show_detailed slug=project.slug %}">View Full Project Description</a>
        {% endif %}
        {% if user.is_authenticated and user.get_profile != project.created_by %}
            <p class="supplemental_actions">
            <a class="report abuse action" href="{% locale_url drumbeat_abuse  obj=project.id type="project" %}">{{_('Report Abuse')}}</a>
            </p>  
        {% endif %}      
    </section>
    
    {% if links %}
        <nav id="project-links" class="panel">      
            <ul>
            {% for link in links %}
            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% endfor %}
            </ul>       
        </nav>
    {% endif %}  
    <section id="project-lead" class="panel">
        <a href="{{ project.created_by.get_absolute_url }}">
            <img alt="" class="member-picture" src="{{ MEDIA_URL }}{{ project.created_by.image_or_default }}" height="54" width="54">
        </a>
        <div class="member-details">
            <h3 class="member-name">
                <a href="{{ project.created_by.get_absolute_url }}">{{ project.created_by.name }}</a>
            </h3>

            {% if user.is_authenticated %}
            <div class="member-actions">
                {% if project.created_by != user.get_profile %}
                    {% if project.created_by in user.get_profile.following %}
                        <form action="{% locale_url relationships_unfollow object_type='user' slug=project.created_by.username %}" method="post">
                        {% csrf_token %}
                        <button id="unfollow-user" >Unfollow</button>
                        </form>
                    {% else %}
                        <form action="{% locale_url relationships_follow object_type='user' slug=project.created_by.username %}" method="post">
                        {% csrf_token %}
                        <button id="follow-user">Follow</button>
                        </form>
                    {% endif %}
                    <a class="button" href="{% locale_url drumbeatmail_compose_to username=project.created_by.username %}">{{ _('Private Message')}}</a>
                {% endif %}
            </div>     
            {% endif %}
        </div> <!-- /.member-details -->
        <div class="member-bio">
            {{ project.created_by.bio }}
        </div>
    </section> <!-- /#project-lead --> 
</div> <!-- /#sidebar -->

<div id="main"> 
    <h2>All {{ project.sub_projects_metaname }}s</h2>
    {% if sub_projects.object_list %}
    <ul id="posts">
    {% for sub in sub_projects.object_list %}
    <li class="post-container object">
    {% if sub.image %}
    <img src="{{ sub.image.url }}" alt="" />
    {% else %}
    <img src="/media/images/project-missing.png" class="project media"  alt="" />
    {% endif %}
    <h1>{{ sub.name }}</h1>
    <p>{{ project.sub_projects_metaname }} created by <a href="{{ sub.created_by.get_absolute_url }} ">{{ sub.created_by.name }}</a></p>
    <p>{{ sub.short_description }}</p>
    <p><a href="">See the full {{ project.sub_projects_metaname|lower }}</a></p>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if sub_projects.paginator.num_pages > 1 %}
    <div class="pagination">
        {% if sub_projects.has_previous %}
        <a href="?page={{ sub_projects.previous_page_number }}" class="btn">← prev</a>
        {% else %}
        <span class="btn">← prev</span>
        {% endif %}
        <em>Page {{ sub_projects.number }} of {{ sub_projects.paginator.num_pages }}</em>
        {% if sub_projects.has_next %}
        <a href="?page={{ sub_projects.next_page_number  }}" class="btn">next →</a>
        {% else %}
        <span class="btn">next →</span>
        {% endif %}
    </div>
    {% endif %}
</div> <!-- /#main -->
{% endblock %}
