{% load l10n_tags get_subProjects %}

{% if sub_projects %}
<h2>Sub projects</h2>
<ul>
{% for sub in sub_projects %}
    <li><a href="{% locale_url projects_show slug=sub.slug %}">{{ sub.name }}</a></li>
{% endfor %}
</ul>
{% if allowed_subs %}
<a class="button" href="{% locale_url sub_project_create parent=id %}">Add a sub-project</a>
{% endif %}
{% else %}
    {% if allowed_subs %}
    <h2>Sub projects</h2>
<p>There have been no sub-projects create yet. Maybe you should get the ball rolling...</p>
    <a class="button" href="{% locale_url sub_project_create parent=id %}">Add a sub-project</a>
    {% endif %}
{% endif %}
