{% load l10n_tags %}
{% load voting_tags %}
{% score_for_object submission as score %}

<li class="post-container submission">
    <a href="{{ submission.created_by.get_absolute_url }}">
        <img alt="" class="member-picture" width="54" height="54" src="{{ MEDIA_URL }}{{ submission.created_by.image_or_default }}">
    </a>
     <div class="post-contents">
     <div class="voting">
        <p><span class="score">{{ score.score }}</span> votes received</p>
     </div>
        <h1 class="title"><a href="{% locale_url  submission_show slug=challenge.slug submission_id=submission.pk     %}">{{ submission.title }} </a></h1>
        <div class="post-details">
            <a class="member-name" href="{{ submission.created_by.get_absolute_url }}">{{ submission.created_by.name     }}</a>
            <a href="{% locale_url  submission_show slug=challenge.slug submission_id=submission.pk %}">{{ submission.created_on|timesince }} {{ _(' ago') }}</a>
        </div>           
        <div class="post-body">
            {{ submission.summary }} | <a href="{% locale_url  submission_show slug=challenge.slug submission_id=submission.pk %}">Read more...</a>
        </div>
    </div>
</li> <!-- /li.post-container -->
