{% load l10n_tags %}
{% load voting_tags %}
{% score_for_object submission as score %}
{% vote_by_user user on submission as vote %}

  <div class="post-contents">
    <div class="details">
    <h2 class="title"><a href="{% locale_url  submission_show slug=challenge.slug submission_id=submission.pk %}">{{ submission.title }} </a></h2>
    <div class="post-body">
      {{ submission.summary }}
      <p><a class="more" href="{% locale_url  submission_show slug=challenge.slug submission_id=submission.pk %}">Read the full idea</a>.</p>
    </div>
    </div>
{% if challenge.allow_voting %}
    <div class="voting">
        <h3>Voting</h3>
      <p>This idea has so far been liked <span class="score">{{ score.score|default:0 }}</span> {% if score.score == 1 %}time{% else %}times{% endif %}.</p>
      {% if user.is_authenticated %}
      <form method="post" id="upvote-{{ submission.pk }}" action="{% if vote and vote.is_upvote %}{% locale_url submission_vote object_id=submission.pk direction='clear' %}{% else %}{% locale_url submission_vote object_id=submission.pk direction='up' %}{% endif %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% if profile.voter_details.count %}{% locale_url challenges_show slug=challenge.slug %}{% else %}{% locale_url submissions_voter_details submission_id=submission.pk %}{% endif %}" />
        {% if not vote or not vote.is_upvote %}
            <p><strong>What do you think?</strong></p>
            <input class="trigger vote" type="submit" value="This is a great idea" />
        {% else %}
            <p><strong>You liked this idea</strong></p>
            <input type="submit" class="trigger clear" value="Cancel my vote" />
        {% endif %}
        </form>
        {% endif %}
    </div>
    {% endif %}

  </div> <!-- /div.post-container -->
