{% load l10n_tags %}
{% load voting_tags %}
{% score_for_object submission as score %}
{% vote_by_user user on submission as vote %}

<div class="post-contents" data-unique="{{ submission.pk }}">
    {% include 'challenges/_voting_bug.html' %}:
    <div class="details">
        <h3 class="title">{{ submission.title }}</h3>
        <div class="post-body">
        {% if not full_data %}
            {{ submission.summary }}
        {% else %}
            {{ submission.summary|truncatewords_html:35 }}
        {% endif %}
            <p><a class="more" href="{% locale_url  submission_show slug=challenge.slug submission_id=submission.pk %}">Read the full idea</a>.</p>
        </div>
    </div>
</div> <!-- /div.post-container -->
