{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ challenge.title }}{% endblock %}
{% block bodyid %}challenge_full{% endblock %}

{% block breadcrumbs %}
  <div class="container">
    <nav>
    {% include 'challenges/_challenge_breadcrumb.html' %}
    <span class="arrow">&rsaquo;</span>
    Full description
    </nav>
    
  </div> <!-- /.container -->
{% endblock %}
{% block body %}
<article class="challenge_details">
  <h1>{{ challenge.title }}</h1>
  <div class="brief">
    <h2>{{ _('The Brief') }}</h2>
    {{ challenge.brief|safe }}
  </div>

  <div class="guidelines">
    <h2>{{ _('How does it work? (Submission guidelines)') }}</h2>
    {{ challenge.guidelines|safe }}
  </div>

  <div class="important_dates">
    <h2>{{ _('Important Dates') }}</h2>
    <p>Submissions open {{ challenge.start_date }} - {{ challenge.end_date }}</p>
    {{ challenge.important_dates|safe }}
  </div>

  <div class="resources">
    <h2>{{ _('Resources and Support') }}</h2>
    {{ challenge.resources|safe }}
  </div>

  <div class="rules">
    <h2>{{ _('Rules') }}</h2>
    {{ challenge.rules|safe }}
  </div>
</article>
{% endblock %}
