{% extends "base.html" %}
{% load l10n_tags %}
{% load comments %}
{% load voting_tags %}

{% block title %}{{ submission.title }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <nav>
    {% include "challenges/_challenge_breadcrumb.html" %}
    <span class="arrow">&rsaquo;</span>
    {{ submission.title }}
    </nav>
    <div id="project-actions">
    {% if user.get_profile == submission.created_by and challenge.entrants_can_edit %}
        <a class="button" href="{% locale_url submission_edit slug=challenge.slug submission_id=submission.id%}">{{ _('Edit Submission') }}</a>
        <a class="button" href="{% locale_url submission_delete slug=challenge.slug submission_id=submission.id%}">{{ _('Delete Submission') }}</a>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block bodyid %}submission_show{% endblock %}

{% block body %}
{% include "challenges/_challenge_sidebar.html" %}
<div id="main">
    <section class="submission">
        <article>
        {% if challenge.allow_voting %}
        <div id="votes">
            <div class="submission">
            {% include "challenges/_voting_resource.html" %}  
            </div>
        </div>
        {% else %}
            {% score_for_object submission as score %}
            {% if submission.is_winner %}
            <div id="votes">
                <div class="submission">
                    <div class="winner">
                        <img src="{{ MEDIA_URL }}images/winner.png" width="60" height="58" alt="" />
                        <p>Winner</p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}
        <h1 id="challenge-title">{{ submission.title }}</h1>
        <div class="post-details">
            Idea from {{ submission.created_by.name }}
            <span>{{ submission.created_on|timesince }} {{ _(' ago') }}</span>
        </div>
        <div class="ajax_copy">
            <h2>{{ _('Summary') }}</h2>
            <div class="summary">
            {{ submission.summary }}
            </div>
            {% if submission.description_html %}
            <h2>{{ _('Description') }}</h2>
            <div class="details">
            {{ submission.description_html|safe }}
            </div>
            {% endif %}
        </div>
        {% if submission.bio %}
        <div class="author_bio">
            <h2>{{ _('About this entrant') }}</h2>
            <img width="54" height="54" src="{{ MEDIA_URL }}{{ submission.created_by.image_or_default }}" class="member-picture" />
            <div class="bio">{{ submission.bio }}</div>
        </div>
        {% endif %}
        </article>
    <div id="comments">
        {% get_comment_list for submission as comment_list %}
        {% if comment_list %}
            <h1>{{ _('Comments') }}</h1><br />
        {% endif %}
        <dl>
        {% for comment in comment_list %}
            <dt id="c{{ comment.pk }}">{{ comment.submit_date }} - {{ comment.user }}</dt>
            <dd>{{ comment.comment|linebreaks }}</dd>
        {% endfor %}
        </dl> 
        </div>
    </section>
</div>
{% endblock %}
