{% extends "mojo.html" %}
{% load l10n_tags %}

{% block body %}    
<div class="banner">   
    <div class="container">
        <h1>Knight-Mozilla News Technology Partnership (MoJo)</h1>
        <h2>Web developers and designers around the world collaborating to invent the future of news.</h2>
        
        <ul>
            <li>
                <img src="{{ MEDIA_URL }}images/mojo/benefit1.jpg" width="300" height="115">
                <p>Put your best ideas in front of luminaries, big thinkers and journalists shaping journalism's future.</p>
            </li>
            <li>
                <img src="{{ MEDIA_URL }}images/mojo/benefit2.jpg" width="300" height="115">
                <p>Earn a trip to a Berlin hackfest, where we'll help take your idea from napkin sketch to prototype.</p>
            </li>
            <li>
                <img src="{{ MEDIA_URL }}images/mojo/benefit5.jpg" width="300" height="115" alt="">
                <p>Spend a year in one of the <a href="{% locale_url drumbeat_journalism_about %}">world's most exciting newsrooms</a> as a paid Knight-Mozilla fellow.</p>
            </li>
        </ul>
        <div class="navspacer">
            <a href="{% locale_url drumbeat_journalism_about %}"><h2>Learn more...</h2></a>
        </div>
    </div>
</div>
    
<div class="homepage">
    <div class="container clearfix">
        <div class="column-left">
            <div class="challengebox">
                <header>
                    <h2>News</h2>
                    <a href="{{ feed_url }}"><img src="{{ MEDIA_URL }}images/feed-icon-16x16.png" width="16" height="16" alt="MOJO Comminity RSS feed"></a>
                </header>
                <ul class="feed">
                {% for entry in feed_entries %}
                <li>
                    <h3><a href="{{ entry.link }}">{{ entry.title }}</a></h3>
                    <p>{{ entry.body|truncatewords:50 }}</p>
                </li>
                {% endfor %}
                </ul>
                <p><a href="http://planet.drumbeat.org/mojo/">Read more at Planet MOJO</a></p>
            </div>
        </div>
        <div class="column-right">
        <div class="challengebox fellowsbox">
        <h2>Announcing the 2011 Knight Mozilla Fellows</h2> 
<div class="fellows_box">
	<div class="fellows_single" id="fellow1">
		<img src="{{ MEDIA_URL }}images/mojo/boas.jpg" alt="Mark Boas" class="fellowimage">
		<div class="fellows_name">Mark Boas</div> 
		<div class="fellows_bio">Fellow at <b>Al Jazeera</b></div>
		<div class="fellows_links">
			<a href="http://twitter.com/#!/maboa">@maboa</a> /
			<a href="http://happyworm.com/blog/">blog</a>
		</div>
	</div>
	<div class="fellows_single" id="fellow2">
		<img src="{{ MEDIA_URL }}images/mojo/cole.jpg" alt="Cole Gillespe" class="fellowimage">
		<div class="fellows_name">Cole Gillespe</div>
		<div class="fellows_bio">Fellow at <b>Zeit Online</b></div>
		<div class="fellows_links">
			<a href="http://twitter.com/#!/thecole">@thecole</a> /
			<a href="https://github.com/coleGillespie">github</a>
		</div>
	</div>
	<div class="fellows_single" id="fellow3">
		<img src="{{ MEDIA_URL }}images/mojo/laurian.jpg" alt="Laurian Gridinoc" class="fellowimage">
		<div class="fellows_name">Laurian Gridinoc</div>
		<div class="fellows_bio">Fellow at the <b>BBC</b></div>
		<div class="fellows_links">
			<a href="http://twitter.com/#!/gridinoc">@gridinoc</a> /
			<a href="http://gridinoc.name/">website</a>
		</div>
	</div>
	<div class="fellows_single" id="fellow4">
		<img src="{{ MEDIA_URL }}images/mojo/nicola.jpg" alt="Nicola Hughes" class="fellowimage">
		<div class="fellows_name">Nicola Hughes</div>
		<div class="fellows_bio">Fellow at the <b>Guardian</b></div>
		<div class="fellows_links">
			<a href="http://twitter.com/#!/datamineruk">@datamineruk</a> /
			<a href="http://datamineruk.wordpress.com/">blog</a>
		</div>
	</div>
	<div class="fellows_single" id="fellow5">
		<img src="{{ MEDIA_URL }}images/mojo/dan.jpg" alt="Dan Schultz" class="fellowimage">
		<div class="fellows_name">Dan Schultz</div>
		<div class="fellows_bio">Fellow at the <b>Boston Globe</b></div>
		<div class="fellows_links">
			<a href="http://twitter.com/#!/slifty">@slifty</a> /
			<a href="http://slifty.com/">website</a>
		</div>
		
	</div>
</div>
<br>
<p style="text-align:left;">
<a href="http://sinker.tumblr.com/post/12326527709/knight-mozilla-fellows">read more...</a>
</p>
        </div>
    </div>
</div>

<div class="container_bottom">
    <div class="column-33">
        <h2>About Knight</h2>
        <p>The John S. and James L. Knight Foundation advances journalism in the digital age and invests in the vitality of communities where the Knight  brothers owned newspapers.</p>
        <p>Knight Foundation focuses on projects that  promote informed and engaged communities and lead to transformational change.</p>
        <p>For more, visit <a href="http://www.knightfoundation.org">www.knightfoundation.org</a></p>
    </div>  
    <div class="column-33">
        <h2>About Mozilla</h2>
        <p>Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good.</p>
        <p>We do this by creating great software, like the Firefox browser, and building communities, like Mozilla Drumbeat, that build and grow the open web.</p>
        <p>For more visit <a href="http://www.mozilla.org">www.mozilla.org</a></p>
    </div> 
    <div class="column-33 last">
        <h2>FAQs</h2>
        <ul>
            <li><a href="https://wiki.mozilla.org/Drumbeat/MoJo/FAQ#Why_is_Mozilla_interested_in_media_and_journalism.3F.E2.80.A8">Why is Mozilla interested in media and journalism?</a></li>
            <li><a href="https://wiki.mozilla.org/Drumbeat/MoJo/FAQ#Who_is_eligible_for_a_Knight-Mozilla_fellowship.3F_How_do_I_apply_for_a_Knight-Mozilla_fellowship.3F.E2.80.A8.E2.80.A8">Who is eligible for a Knight-Mozilla fellowship? How do I apply for a Knight-Mozilla fellowship?</a></li>
            <li><a href="https://wiki.mozilla.org/Drumbeat/MoJo/FAQ#What_do_you_mean_by_.22the_open_web.22_and_.22open_technology.3F.E2.80.A8">What do you mean by "the open web" and "open technology?"</a></li>
        </ul>
        <a class="viewmore" href="https://wiki.mozilla.org/Drumbeat/MoJo/FAQ">View More</a>
    </div>
</div>
{% include 'drumbeat/journalism/_footer.html' %}
{% endblock %}
