{% load l10n_tags serve build_id %}
<!doctype html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Mozilla Drumbeat | {% block title %}{% endblock %}{{ DEV_MEDIA_URL }}</title>
  <meta name="description" content="Drumbeat gathers smart, creative people like you around big ideas, practical projects and local events that improve the open web.">
  <meta name="author" content="mozilla">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico">
  <link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/apple-touch-icon.png">
 {% serve 'css' 'site' %}
  {% block links %}{% endblock %}
 <script type="text/javascript">
    var batucada = window.batucada || {};
    batucada.data = {
        MEDIA_URL: "{{ MEDIA_URL }}",
        JS_BUILD_ID : "{% build_id %}"
    };
    batucada.strings = {};
  </script>

 {% serve 'js' 'styling' %}
  <noscript>
  <!-- load the fonts for those without js -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}fonts/MuseoSans500/MuseoSans500.css">
  </noscript>
  </head>
<body id="{% block bodyid %}body{% endblock %}" class="{% block bodyclasses %}.body{% endblock %}">

  <header>
    <div id="masthead">
      <div class="container">
	<a id="logo" class="ir" href="{% locale_url dashboard_index %}">mozilla Drumbeat</a>
	<a id="bug" href="http://www.mozilla.org">mozilla.org</a>
      </div> <!-- /.container -->
    </div> <!-- /#masthead -->
    <div id="breadcrumbs">
      {% block breadcrumbs %}{% endblock %}
    </div>
  </header>

  <div id="content" class="container">
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li class="{{message.tags}}">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% block body %}{% endblock %}
    {% include '_footer.html' %}
  </div>
 {% serve 'js' 'libraries' %}
 {% block js %}{% endblock %}
  <!-- START OF SmartSource Data Collector TAG -->
  <!-- Copyright (c) 1996-2010 WebTrends Inc.  All rights reserved. -->
  <!-- Version: 8.6.2 -->
  <!-- Tag Builder Version: 3.0  -->
  <!-- Created: 5/10/2010 6:56:34 PM -->
  <script src="{{ MEDIA_URL }}js/common/ext/webtrends.js"></script>
  
  <script type="text/javascript">
    //<![CDATA[
    var _tag=new WebTrends();
    _tag.dcsGetId();
    _tag.dcsCollect();
    //]]>>
  </script>
  
</body>
</html>
