{% load l10n_tags serve build_id %}
<!doctype html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
<head> 
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <title>Knight Mozilla News Technology Partnership</title> 
    <meta name="description" content="The Knight-Mozilla News Technology Partnership, MoJo: Web developers and designers around the world collaborating to invent the future of news."> 
    <meta name="author" content="mozilla"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico"> 
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/apple-touch-icon.png"> 
    {% serve 'css' 'mojo' %}
    {% block links %}{% endblock %}
        <script type="text/javascript">
        var batucada = window.batucada || {};
        batucada.data = {
            MEDIA_URL: "{{ MEDIA_URL }}",
            JS_BUILD_ID : "{% build_id %}"
        };
    </script>
    {% serve 'js' 'styling' %}
    <noscript><!-- load the fonts for those without js -->
        <link rel="stylesheet" href="{{ MEDIA_URL }}fonts/MuseoSans500/MuseoSans500.css">
    </noscript>
</head>
<body id="{%block bodyid %}splash{% endblock %}" class=".body">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <header>
        <div id="masthead">
            <div class="container">
                <a id="logo" class="ir" href="{% locale_url dashboard_index %}">mozilla Drumbeat</a>
                <a id="tabzilla" href="http://www.mozilla.org">mozilla</a>
            </div> <!-- /.container -->
        </div> <!-- /#masthead -->
    </header>
{% block body %}{% endblock %}
{% serve 'js' 'libraries' %} 
{% block script %}{% endblock %}
</body>
</html>
