{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ _('People and Projects making a better web') }}{% endblock %}
{% block bodyid %}splash{% endblock %}

{% block body %}

<header id="intro">
  <div class="container">
    <hgroup>
      <h1>{{ _("We're moving") }}</h1>
      <h2>The Drumbeat.org web site is winding down</h2>
    </hgroup>
    <p>We're taking what's best about Mozilla Drumbeat and shipping it right into the core of Mozilla - with a laser focus on tools, resources and events for webmakers.</p>
    <img src="{{ MEDIA_URL }}/images/drumbeat-logo-splash.png" width="300" height="282" alt="Drumbeat Logo"/>    
  </div>
</header> <!-- /#intro -->
<section id="calls">
    <div class="container">
  <h2>Got questions?</h2>
  <ul>
    <li>Read more about why we're winding down Drumbeat -- and <a href="http://openmatt.wordpress.com/2012/02/16/byebyedrumbeat/">gearing up for what's next</a></li>
    <li>Get answers to questions about <a href="http://www.thecssdiv.co.uk/2012/02/retiring-the-drumbeat-website/">how your Drumbeat project page will be affected and other details</a></li>
    <li>Get involved in our weekly Mozilla Webmaker calls, <a href="https://wiki.mozilla.org/Webmakers">stay in touch, and learn more</a></li>
    </ul>
    </div>
</section>
<section id="main">
  <div class="container card-list">
    <section id="featured_projects">
    <h1><span>{{ _('What Drumbeat made') }}</span></h1>
    <ul class="project-list">
         <li>
            <a href="http://www.mozillaopennews.org">
            <article class="project card">
                <figure>
                    <img src="{{ MEDIA_URL }}/images/splash/opennews.png" height="120" width="185" alt="" />
                </figure>
                <div class="info">
                    <hgroup>
                    <h1>Knight-Mozilla  Open News</h1>
                    <h2>shape the future of news</h2>
                    </hgroup>
                    <div class="description">
                        <p>Hack, learn and innovate with the world’s leading news organizations.</p>
                        <ul>
                            <li>Drive open source innovation in news with the Knight Foundation and Mozilla</li>
                            <li>Learn and hack with news partners like the BBC, Guardian, Die Zeit, Al Jazeera and Boston Globe</li>
                            <li>Take part in learning labs and hack sprints around the globe</li>
                            <li>Apply to become a 2012 Knight-Mozilla News Fellow</li>
                        </ul>
                    </div>
                </div>
                <div class="meta">
                    <strong>www.mozillaopennews.org</strong>
                </div>
            </article>
            </a>
        </li>

        <li>
            <a href="http://www.mozillafestival.org">
            <article class="project card">
                <figure>
                    <img src="{{ MEDIA_URL }}/images/splash/festival.jpg" height="120" width="185" alt="" />
                </figure>
                <div class="info">
                    <hgroup>
                    <h1>Mozilla Festival</h1>
                    </hgroup>
                    <div class="description">
                    <p>A yearly celebration that brings together hundreds of passionate people to explore the frontiers of the open web.</p>
                    <ul>
                        <li>Developers, designers, and big thinkers together to make things that can change the world</li>
                        <li>Design challenges addressing key issues an ambitious chunk of prototyping and design</li>
                        <li>Replacing darkened lecture halls with maker labs full of people building things</li>
                    </ul>
                    </div>
                </div>
                <div class="meta">
                    <strong>www.mozillafestival.org</strong>
                </div>
            </article>
            </a>
        </li>
        <li>
            <a href="http://www.hackasaurus.org">
            <article class="project card">
                <figure>
                    <img src="{{ MEDIA_URL }}/images/splash/hackasaurus.jpg" height="120" width="185" alt="" />
                </figure>
                <div class="info">
                    <hgroup>
                    <h1>Mozilla Hackasaurus</h1>
                    <h2>webmaking made simple</h2>
                    </hgroup>
                    <div class="description">
                    <p>Hackasaurus makes it easy to create, tinker and share on the web.</p>
                    <ul>
                        <li>Alter your online reality with the amazing X-Ray Goggles</li>
                        <li>Create your own web page in seconds</li>
                        <li>Host your own hack jam event for youth</li>
                        <li>Access teaching tools and kits for novice webmakers.</li>
                    </ul>
                    </div>
                </div>
                <div class="meta">
                    <strong>www.hackasaurus.org</strong>
                </div>
            </article>
            </a>
        </li>
        <li>
            <a href="http://www.mozillapopcorn.org">
            <article class="project card">
                <figure>
                    <img src="{{ MEDIA_URL }}/images/splash/popcorn.jpg" height="120" width="185" alt="" />
                </figure>
                <div class="info">
                    <hgroup>
                    <h1>Mozilla Popcorn</h1>
                    <h2>supercharge web video</h2>
                    </hgroup>
                    <div class="description">
                        <p>Popcorn adds interactivity and context to any online video, pulling the web right into the action in real time.</p>
                        <ul>
                            <li>Explore what Mozilla Popcorn can do for film-makers, journalists and the classroom</li>
                            <li>Create your own interactive pop-up video</li>
                            <li>Get a taste of Popcorn through web documentaries, demos and more</li>
                        </ul>
                    </div>
                </div>
                <div class="meta">
                    <strong>www.mozillapopcorn.org</strong>
                </div>
            </article>
            </a>
        </li>
    </ul>
    </section>
    </div>
  </div>  
</section>
{% endblock %}
