{% extends "base.html" %}
{% load l10n_tags %}

{% block title %}{{ _('People and Projects making a better web') }}{% endblock %}
{% block bodyid %}splash{% endblock %}

{% block body %}

<header id="intro">
  <div class="container">
    <hgroup>
      <h1>{{ _("We're moving") }}</h1>
      <h2>The Drumbeat.org web site is winding down</h2>
    </hgroup>
    <p>We're taking what's best about Mozilla Drumbeat and shipping it right into the core of Mozilla -- with a laser focus on tools, resources and events for webmakers.</p>
    <img src="{{ MEDIA_URL }}/images/drumbeat-logo-splash.png" width="300" height="282" alt="Drumbeat Logo"/>    
  </div>
</header> <!-- /#intro -->
<section id="calls">
    <div class="container">
  <h2>Got questions?</h2>
  <ul>
    <li>Read more about why we're winding down Drumbeat -- and <a href="http://openmatt.wordpress.com/2012/02/16/byebyedrumbeat/">gearing up for what's next</a></li>
    <li>Get answers to questions about <a href="http://www.thecssdiv.co.uk/2012/02/retiring-the-drumbeat-website/">how your Drumbeat project page will be affected and other details</a></li>
    <li>Get involved in our weekly Mozilla Webmaker calls, <a href="https://wiki.mozilla.org/Webmakers">stay in touch, and learn more</a></li>
    </ul>
    </div>
</section>
<section id="main">
  <div class="container card-list">
    <section id="featured_projects">
    <h1><span>{{ _('Get involved') }}</span></h1>
    <ul class="project-list">
        <li>
            <a href="http://www.mozillapopcorn.org">
            <article class="project card">
                <figure>
                    <img src="{{ MEDIA_URL }}/images/splash/popcorn.png" height="120" width="185" alt="" />
                </figure>
                <div class="info">
                    <hgroup>
                    <h1>Mozilla Popcorn</h1>
                    <h2>supercharge web video</h2>
                    </hgroup>
                    <div class="description">
                        <p>Popcorn adds interactivity and context to any online video, pulling the web right into the action in real time.</p>
                        <ul>
                            <li>Explore what Mozilla Popcorn can do for film-makers, journalists and the classroom</li>
                            <li>Create your own interactive pop-up video</li>
                            <li>Get a taste of Popcorn through web documentaries, demos and more</li>
                        </ul>
                    </div>
                </div>
                <div class="meta">
                    <strong>www.mozillapopcorn.org</strong>
                </div>
            </article>
            </a>
        </li>
         <li>
            <a href="http://www.mozillaopennews.org">
            <article class="project card">
                <figure>
                    <img src="{{ MEDIA_URL }}/images/splash/opennews.png" height="120" width="180" alt="" />
                </figure>
                <div class="info">
                    <hgroup>
                    <h1>Knight-Mozilla  Open News</h1>
                    <h2>shape the future of news</h2>
                    </hgroup>
                    <div class="description">
                        <p>Hack, learn and innovate with the world’s leading news organizations.</p>
                        <ul>
                            <li>Drive open source innovation in news with the Knight Foundation and Mozilla</li>
                            <li>Learn and hack with news partners like the BBC, Guardian, Die Zeit, Al Jazeera and Boston Globe</li>
                            <li>Take part in learning labs and hack sprints around the globe</li>
                            <li>Apply to become a 2012 Knight-Mozilla News Fellow</li>
                        </ul>
                    </div>
                </div>
                <div class="meta">
                    <strong>www.mozillaopennews.org</strong>
                </div>
            </article>
            </a>
        </li>
        <li>
            <a href="http://www.hackasaurus.org">
            <article class="project card">
                <figure>
                    <img src="{{ MEDIA_URL }}/images/splash/hackasaurus.png" height="120" width="180" alt="" />
                </figure>
                <div class="info">
                    <hgroup>
                    <h1>Mozilla Hackasaurus</h1>
                    <h2>webmaking made simple</h2>
                    </hgroup>
                    <div class="description">
                    <p>Hackasaurus makes it easy to create, tinker and share on the web.</p>
                    <ul>
                        <li>Alter your online reality with the amazing X-Ray Goggles</li>
                        <li>Create your own web page in seconds</li>
                        <li>Host your own hack jam event for youth</li>
                        <li>Access teaching tools and kits for novice webmakers.</li>
                    </ul>
                    </div>
                </div>
                <div class="meta">
                    <strong>www.hackasaurus.org</strong>
                </div>
            </article>
            </a>
        </li>
        <li>
            <a href="http://www.mozillafestival.org">
            <article class="project card">
                <figure>
                    <img src="{{ MEDIA_URL }}/images/splash/festival.jpg" height="120" width="180" alt="" />
                </figure>
                <div class="info">
                    <hgroup>
                    <h1>Mozilla Festival</h1>
                    <h2>a three-ring circus of innovation</h2>
                    </hgroup>
                    <div class="description">
                    <p>A yearly celebration that brings together hundreds of passionate people to make, hack and explore the frontiers of the open web.</p>
                    <ul>
                        <li>Get together with developers, designers, and big thinkers to make things that can change the world</li>
                        <li>Sprint on design challenges addressing key issues and produce ambitious chunks of prototyping and design</li>
                        <li>Trade darkened lecture halls for maker labs full of people building things</li>
                    </ul>
                    </div>
                </div>
                <div class="meta">
                    <strong>www.mozillafestival.org</strong>
                </div>
            </article>
            </a>
        </li>
        <li>
            <a href="http://www.openbadges.org/">
            <article class="project card">
                <figure>
                    <img src="{{ MEDIA_URL }}/images/splash/openbadges.jpg" height="120" width="180" alt="" />
                </figure>
                <div class="info">
                    <hgroup>
                    <h1>Mozilla Open Badges</h1>
                    <h2>level up in life, work and learning</h2>
                    </hgroup>
                    <div class="description">
                    <p>Free software for issuing, managing and displaying digital badges across the web</p>
                    <ul>
                        <li>Use our "Open Badge Infrastructure" to issue badges for your own course, community or organization</li>
                        <li>Allow learners to collect and display badges from multiple sites through a single identity</li>
                        <li>See how organizations like NASA, Disney-Pixar, Intel and others are using digital badges for learning</li>
                    </ul>
                    </div>
                </div>
                <div class="meta">
                    <strong>www.openbadges.org</strong>
                </div>
            </article>
            </a>
        </li>
        <li>
            <a href="http://www.mozillaignite.org">
            <article class="project card">
                <figure>
                    <img src="{{ MEDIA_URL }}/images/splash/ignite.png" height="120" width="180" alt="" />
                </figure>
                <div class="info">
                    <hgroup>
                    <h1>Mozilla Ignite</h1>
                    <h2>shape the internet's future</h2>
                    </hgroup>
                    <div class="description">
                    <p>Design and develop apps for the faster, smarter networks of the future.</p>
                    <ul>
                        <li>Take part in an open innovation challenge sponsored by the National Science Foundation and Mozilla </li>
                        <li>Design and build applications for deeply programmable networks up to 200 times faster than today</li>
                        <li>Innovate in areas that matter -- like healthcare, education, energy and the environment</li>
                        <li>Submit your idea. Win funding and support. Get access to one of the fastest networks on the planet.</li>
                    </ul>
                    </div>
                </div>
                <div class="meta">
                    <strong>www.mozillaignite.org</strong>
                </div>
            </article>
            </a>
        </li>
        <li>
            <a href="http://www.p2pu.org/webcraft/">
            <article class="project card">
                <figure>
                    <img src="{{ MEDIA_URL }}/images/splash/webcraft.png" height="120" width="180" alt="" />
                </figure>
                <div class="info">
                    <hgroup>
                    <h1>Mozilla School of Webcraft</h1>
                    <h2>learn "Webmaking 101”</h2>
                    </hgroup>
                    <div class="description">
                    <p>Free and open web design and developer training for the world.</p>
                    <ul>
                        <li>Peer-based learning through Peer 2 Peer University</li>
                        <li>Learn basics like HTML, CSS and more </li>
                        <li>Earn badges to show off your skills</li>
                        <li>Volunteer to help mentor novice web developers around the world.</li>
                    </ul>
                    </div>
                </div>
                <div class="meta">
                    <strong>www.p2pu.org/webcraft/</strong>
                </div>
            </article>
            </a>
        </li>
        <li class="join">
            <article class="project card">
                <figure>
                    <img src="{{ MEDIA_URL }}/images/splash/join.jpg" width="180" height="120" alt="" />
                </figure>
                <div class="info">
                    <hgroup>
                    <h1><a href="http://www.mozilla.org/join">Join Mozilla</a></h1>
                    <h2>Help build a better web for all</h2>
                    </hgroup>
                    <div class="description">
                    <p>Support Mozilla’s non-profit mission.</p>
                    <ul>
                        <li>Make a donation and receive the exclusive Firefox t-shirt</li>
                        <li>Join our mailing list to stay in touch: <a href="http://donate.mozilla.org/email">donate.mozilla.org/email</a></li>
                        <li>Follow what’s happening across our projects and campaigns through <a href="http://www.twitter.com/mozilla/">@Mozilla</a></li>
                    </ul>
                    </div>
                </div>
                <div class="meta">
                    <strong><a href="http://www.mozilla.org/join">www.mozilla.org/join</a></strong>
                </div>
            </article>
        </li>
    </ul>
    </section>
  </div>
</section>
{% endblock %}
