{% load l10n_tags %}
<article class="user vcard card">
    <figure>    
        <a href="{{  person.get_absolute_url }}">
            <img alt="" class="member-picture" src="{{ MEDIA_URL }}{{ person.image_or_default }}" height="54" width="54">
        </a>
    </figure>
    <h1 class="fn"><a href="{{  person.get_absolute_url }}">{{ person.name }}</a></h1>
    <div class="description">{{person.bio}}</div>
    <div class="meta">
        <dl class="followers">
            <dt>{{ _('Followers') }}</dt>
            <dd>{{person.followers|length}}</dd> 
        </dl>
        <dl class="following">
            <dt>{{ _('Following') }}</dt>
            <dd>{{ person.following|length }}</dd>
        </dl>
        <dl class="updates">
            <dt>{{ _('Updates') }}</dt>
            <dd>{{ person.status_set.count }}</dd>
        </dl>
    </div>
</article>
